<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= pageTitle %></title>
</head>
<body>
    <h1>The list of users is displayed here</h1>
    <% if(user.length > 0) { %>
        <ul>
            <%for(let u of user){%>
                <li><%= u.title %></li>
            <%}%>
        </ul>
    <%} else {%>
        <h1>No users!</h1>
    <%}%>
</body>
</html>